.is-style-fancy-quote{
color: blue; 
font-size: 30px;
}

.wp-block-buttons .wp-block-button .wp-block-button__link{
    background-color: blue;
}

.alignwide{
    max-width: 50%;
    margin: 0 auto;
}

.alignfull{
    max-width: 90%;
    margin: 0 auto;
}

.has-magenta-background-color {
    background-color: #a156b4;
}
 
.has-magenta-color {
    color: #f78da7;
}

.site-branding .custom-logo{
    width: 50%;
    padding-left: 2rem;
}

header{
    padding-top: 1rem;
}

nav{
    background-color: black;
    max-width: 100%;

}

.menu-primary-menu-container ul li a{
    color: #fff;


}

.menu-primary-menu-container ul li a :hover{

    text-decoration: underline;
}

footer{
    background-color: black;
    padding: 2rem;
}


.bottomMenu { display: block; width:960px;}
.bottomMenu ul { display:inline; float:right;}
.bottomMenu li { list-style-type: none; display: inline; font-size: 12px; }
.bottomMenu li a {
	color:#fff;
	line-height:15px;
	text-decoration:none;
    font-size: 14px;
	font-weight:normal;
	border-right: thin solid #000;
	padding: 0 7px 0 3px;
}
.bottomMenu li a:hover { color:#ccc; text-decoration:underline;}
.bottomMenu li:last-child > a {border-right: none;}


#searchBar{

    border: 1px solid black;
}

.alignfull {
    max-width: 100%;
}

.alignwide{
    max-width: 33%;
}




#block-643262f8-811c-480b-9c2d-49970c8bb9ae{

max-width: 33%;
}

.wp-block-group.has-background {
    padding: 0px;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
}
.wp-block-image .components-resizable-box__container img {
    float: right;
    width: inherit;
    height: inherit;
}