
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');


.is-style-fancy-quote{
color: rgb(78, 0, 0); 
font-size: 30px;
border: rgb(49, 0, 0);
}

.wp-block-buttons .wp-block-button .wp-block-button__link{
    background-color: rgb(255, 255, 255);
}



.alignfull{
    max-width: 100%;
    margin: 0 auto;
}

.has-magenta-background-color {
    background-color: #a156b4;
}
 
.has-magenta-color {
    color: #f78da7;
}

.site-branding .custom-logo{
    width: 50%;
    padding-left: 2rem;
}

header{
    padding-top: 1rem;
}

nav{
    background-color: black;
    max-width: 100%;

}

.menu-primary-menu-container ul li a{
    color: #fff;


}

.menu-primary-menu-container ul li a :hover{

    text-decoration: underline;
}

footer{
    background-color: black;
    padding: 2rem;
}


.bottomMenu { display: block; width:960px;}
.bottomMenu ul { display:inline; float:right;}
.bottomMenu li { list-style-type: none; display: inline; font-size: 12px; }
.bottomMenu li a {
	color:#fff;
	line-height:15px;
	text-decoration:none;
    font-size: 14px;
	font-weight:normal;
	border-right: thin solid #000;
	padding: 0 7px 0 3px;
}
.bottomMenu li a:hover { color:#ccc; text-decoration:underline;}
.bottomMenu li:last-child > a {border-right: none;}


#searchBar{

    border: 1px solid rgb(92, 55, 0);
    margin-top: 1rem;
}



.alignfull {
    max-width: 100%;
}

.alignwide{
    max-width: 33%;
}

.wp-block-group__inner-container {
text-align: left;
}

.aligncenter{
    padding-left: 3rem;
}

.entry-header .entry-title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.entry-content {

    padding: 3rem;
}


.entry-header .entry-title{

    display: none;
}

.site-branding .custom-logo {
    width: 80%;
}

.main-navigation ul {
 
    
    padding-left: 23% !important; 
    padding-right: 20%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    text-align: center;
    background-color: rgb(70, 0, 0);
    
}


.main-navigation a{

color: rgb(218, 218, 218) !important;

}


.main-navigation a:hover{

    background-color: wheat;
    color: black!important;
    }


    .woocommerce ul.products li.product  {
       
        border: 2px solid rgb(80, 80, 80);
        padding: 1rem !important;
        
    }

    .woocommerce ul.products li.product a {
      color: black;
      font-weight: 600;
    }

    .woocommerce ul.products li.product .price {
        color: #685000 !important;
        display: block;
        font-weight: 500;
        margin-bottom: .5em;
        font-size: .857em;
    }

    .woocommerce div.product p.price, .woocommerce div.product span.price {
        color: #685000 !important;
        font-size: 1.25em;
        font-weight: bold;
    }

    .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {

color: rgb(255, 255, 255) !important;
background-color: rgb(0, 0, 0) !important;
width: 100%;

    }

    .onsale{

        border-radius: 0%!important;
        color: rgb(247, 247, 247) !important;
        background-color: rgb(63, 0, 0) !important;
    }

    
select{

    border: none!important;
}


.tabs{
background-color: rgb(46, 0, 0)!important;
border: none!important;
padding-top: .6rem!important;

}

.wp-block-column h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0;
    
}

.wp-block-column p{
    font-family: 'Raleway', sans-serif;
 
}

h2{

    font-family: 'Raleway', sans-serif;
}